<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.css">
<style>
    div.ps-root {
        font-size: 1.2em !important;
    }
    @media screen and (max-width: 600px) {
        div.ps-root {
            font-size: 1em !important;
        }
    }

    div.ps-root p.ps-line {
        line-height: 1.4em !important;
}
    div[class^=ps-algorithmic] > div.ps-block {
        margin-left: 1.4em !important;
    }
    span.ps-linenum {
        width: 2.2em !important;
        padding-left: 0 !important;
        padding-right: .6em !important;
    }
</style>
<script defer crossorigin="anonymous"
    src="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.js">
</script>
