{{/* print .Attributes */}}

{{/* FIXME: The default values should be configurable */}}
{{- $width := .Attributes.width | default "100%" -}}
{{- $height := .Attributes.height | default "auto" -}}
{{- $classes := .Attributes.classes | default "center" }}

{{- $sizeCSS := printf "width: %s; height: %s;" $width $height }}

<figure {{ with $classes }}class="{{ . }}"{{ end }} style="{{ $sizeCSS | safeCSS }}">
    <a href="{{ .Destination | safeURL }}">
    <img loading="lazy" src="{{ .Destination | safeURL }}"
        {{- with .PlainText }} alt="{{ . }}"{{ end -}}
        {{- with .Title }} title="{{ . }}"{{ end -}}
    >
    </a>
    {{- with .Title }}<figcaption>{{ . | markdownify }}</figcaption>{{ end -}}
</figure>
