{{/* print .Attributes */}}

{{/* FIXME: The default values should be configurable */}}
{{- $width := .Attributes.width | default "100%" -}}
{{- $height := .Attributes.height | default "auto" -}}
{{- $classes := .Attributes.classes | default "center" }}

{{- $sizeCSS := printf "width: %s; height: %s;" $width $height }}
{{- $isFloat := strings.Contains $classes "float" -}}

{{- $lightboxVendor := .Page.Params.lightbox.vendor | default "none" }}

<figure {{ with $classes }}class="{{ . }}"{{ end }} {{ if $isFloat }}style="{{ $sizeCSS | safeCSS }}"{{ end }} >
    <a href="{{ $.Destination | safeURL }}"
    {{- if eq $lightboxVendor "fancybox" -}}
        data-fancybox="gallery"
    {{- else if eq $lightboxVendor "glightbox" -}}
        class="glightbox"
    {{- end -}}
    >
    <img loading="lazy" src="{{ .Destination | safeURL }}" {{ if not $isFloat }}style="{{ $sizeCSS | safeCSS }}"{{ end }}
        {{- with .PlainText }} alt="{{ . }}"{{ end -}}
        {{- with .Title }} title="{{ . }}"{{ end -}}
    >
    </a>
    {{- with .Title }}<figcaption>{{ . | markdownify }}</figcaption>{{ end -}}
</figure>
