{{- $layout := .Params.card.layout | default "auto" -}}
{{- $thumb := .Page.Resources.GetMatch .Params.card.thumbnail -}}
{{- if eq $layout "auto" -}}
	{{- if $thumb -}}
		{{- if gt $thumb.Width $thumb.Height -}}
			{{- $layout = "portrait" -}}
		{{- else -}}
			{{- $layout = "landscape" -}}
		{{- end -}}
	{{- else -}}
		{{- $layout = "portrait" -}}
	{{- end -}}
{{- end -}}
<div class="post-card-container">
<div class="post-card {{ $layout }}">
	{{- with $thumb -}}
    <div class="post-thumb-container">
		{{- $thumbLink := cond (eq site.Params.postcard.thumbTarget "posturl") $.RelPermalink .RelPermalink -}}
		{{- $thumbTarget := cond (eq site.Params.postcard.thumbTarget "posturl") "" "_blank" -}}
		<a class="post-thumb-anchor" href="{{ $thumbLink }}" target="{{ $thumbTarget }}">
			<img alt="{{ $.Title }}" class="post-thumb" src="{{ .RelPermalink }}" loading="lazy"/>
		</a>
	</div>
	{{- end -}}
	<div class="post-card-content">
        <h3 class="post-title">
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify | safeHTML }}</a>
		</h3>
        {{- partial "post-meta.html" (dict
			"page" .
			"metaItemTag" "div"
			"metaItemSep" ""
		) -}}
		{{- partial "post-tldr.html" . -}}
        {{- if site.Params.postcard.showDescription -}}
            <p class="post-description">{{ .Description | markdownify | safeHTML }}</p>
        {{- end -}}
		<a class="post-read-more" href="{{ .RelPermalink }}">Read more >>></a>
	</div>
</div>
</div>
