{{ $tags := slice }}
{{ range .page.Site.Taxonomies.tags }}
    {{ $tags = $tags | append (dict
        "page" .Page
        "count" .Count
    ) }}
{{ end }}

{{ if eq .args.sortBy "count" }}
    {{ $tags = sort $tags "count" "desc" }}
{{ else if eq .args.sortBy "random" }}
    {{ $tags = $tags | shuffle }}
{{ end }}

{{ range $tags }}
    <span><a href="{{ .page.RelPermalink }}">#{{ .page.Title }}</a><sup> ({{ .count }})</sup></span>
    {{- $.args.delimiter | default "&emsp;" | safeHTML -}}
{{ end }}
