:root {
    --admonition-note-foreground-color: DimGray;
    --admonition-note-background-color: White;
    --admonition-note-border-color: DimGray;
    --admonition-note-indicator-color: var(--admonition-note-foreground-color);
    --admonition-note-marker-color: Black;

    --admonition-info-foreground-color: RoyalBlue;
    --admonition-info-background-color: AliceBlue;
    --admonition-info-border-color: DarkBlue;
    --admonition-info-indicator-color: var(--admonition-info-foreground-color);
    --admonition-info-marker-color: Navy;

    --admonition-tip-foreground-color: Green;
    --admonition-tip-background-color: MintCream;
    --admonition-tip-border-color: DarkGreen;
    --admonition-tip-indicator-color: var(--admonition-tip-foreground-color);
    --admonition-tip-marker-color: DarkSlateGray;

    --admonition-help-foreground-color: SlateBlue;
    --admonition-help-background-color: GhostWhite;
    --admonition-help-border-color: DarkSlateBlue;
    --admonition-help-indicator-color: var(--admonition-help-foreground-color);
    --admonition-help-marker-color: Indigo;

    --admonition-alert-foreground-color: Crimson;
    --admonition-alert-background-color: Snow;
    --admonition-alert-border-color: DarkRed;
    --admonition-alert-indicator-color: var(--admonition-alert-foreground-color);
    --admonition-alert-marker-color: Maroon;

    --admonition-indicator-size: 1.6em;
    --admonition-marker-size: 2em;
}


svg.admonition-icon.indicator {
    width: var(--admonition-indicator-size);
    height: var(--admonition-indicator-size);
}
svg.admonition-icon.indicator.note { stroke: var(--admonition-note-indicator-color); }
svg.admonition-icon.indicator.info { stroke: var(--admonition-info-indicator-color); }
svg.admonition-icon.indicator.tip { stroke: var(--admonition-tip-indicator-color); }
svg.admonition-icon.indicator.help { stroke: var(--admonition-help-indicator-color); }
svg.admonition-icon.indicator.alert { stroke: var(--admonition-alert-indicator-color); }

svg.admonition-icon.marker {
    width: var(--admonition-marker-size);
    height: var(--admonition-marker-size);
}
svg.admonition-icon.marker.note { stroke: var(--admonition-note-marker-color); }
svg.admonition-icon.marker.info { stroke: var(--admonition-info-marker-color); }
svg.admonition-icon.marker.tip { stroke: var(--admonition-tip-marker-color); }
svg.admonition-icon.marker.help { stroke: var(--admonition-help-marker-color); }
svg.admonition-icon.marker.alert { stroke: var(--admonition-alert-marker-color); }

details.admonition {
    border-radius: 1ch;
}
details.admonition.note {
    border: 1px solid var(--admonition-note-border-color);
    border-left: .2em solid var(--admonition-note-foreground-color);
    background-color: var(--admonition-note-background-color);
}
details.admonition.info {
    border: 1px solid var(--admonition-info-border-color);
    border-left: .2em solid var(--admonition-info-foreground-color);
    background-color: var(--admonition-info-background-color);
}
details.admonition.tip {
    border: 1px solid var(--admonition-tip-border-color);
    border-left: .2em solid var(--admonition-tip-foreground-color);
    background-color: var(--admonition-tip-background-color);
}
details.admonition.help {
    border: 1px solid var(--admonition-help-border-color);
    border-left: .2em solid var(--admonition-help-foreground-color);
    background-color: var(--admonition-help-background-color);
}
details.admonition.alert {
    border: 1px solid var(--admonition-alert-border-color);
    border-left: .2em solid var(--admonition-alert-foreground-color);
    background-color: var(--admonition-alert-background-color);
}

/* TODO: styles for links and inline code (<a> and <code>) inside admonitions */
