:root {
    --home-cards-proportion: 40%;
    --home-sidebar-proportion: 60%;
}

@media screen and (max-width: 1280px) {
    :root {
        --home-cards-proportion: 50%;
        --home-sidebar-proportion: 50%;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --home-cards-proportion: 55%;
        --home-sidebar-proportion: 45%;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --home-cards-proportion: 100%;
        --home-sidebar-proportion: 100%;
    }
}


div.home-content {
    display: flex;
    flex-direction: row;
}

div.home-post-gallery {
    flex: 0 0 auto;
    width: var(--home-cards-proportion);
}

div.home-sidebar {
    flex: 0 0 auto;
    width: var(--home-sidebar-proportion);

    display: flex;
    flex-direction: column;
    padding: 0 0 0 1em;
}

div.home-sidebar-item-container {
    flex: 0 0 auto;
    width: 100%;
    padding: .8em 0;
}

fieldset.home-sidebar-item {
    border-radius: .2em;
    border: solid 1px slategray;
    box-shadow: inset 0 0 .3em slategray;
    /* margin: .8em 0; */

    flex: 0 0 auto;
    width: 100%;
}

fieldset.home-sidebar-item > div.home-sidebar-item-content {
    overflow-x: auto;
    /* white-space: nowrap; */
}

legend.home-sidebar-item-title {
    font-family: var(--serif-font);
    font-size: var(--h4-font-size);
    font-weight: bold;

    color: navy;
    background-color: ghostwhite;

    border-radius: .1em;
    border-left: solid navy .4em;
    border-top: solid navy 2px;
    border-bottom: solid navy .1em;
    border-right: solid navy .2em;
    padding: .2em .4em;
}

fieldset#recent-updates > div.home-sidebar-item-content > ul {
    margin: .4em .4em .4em 0;
}

#news {
    font-family: var(--serif-font);
}


div.post-card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.post-card-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    padding: .4em 0;
}

/* post card */
div.post-card {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: var(--serif-font);
    border: 2px solid var(--post-card-border-color);
    border-radius: .3em;
    box-shadow: inset 0 0 .3em lightslategray;

    /* hide thumbnail tl and tr corners... */
    overflow: hidden;
}

div.post-card.portrait {
    flex-direction: column;
}
div.post-card.landscape {
    flex-direction: row;
}

/* post card thumbnail */
img.post-thumb {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: none;
}

a.post-thumb-anchor {
    box-shadow: none !important;
}

div.post-card.landscape div.post-thumb-container {
    min-width: 20%;
    max-width: 35%;
}

div.post-card.portrait div.post-thumb-container {
    min-height: 20vh;
    max-height: 30vh;
}

/* postcard content, containing title, meta information and read more :D */
div.post-card-content {
    /* width: 100%; */
    margin: 0;
    padding: 1em;
    overflow: auto;
}

div.post-meta {
    white-space: nowrap;
    margin: .8em 0;
}
div.post-meta-item {
    margin: .2em 0;
}

svg.post-date-icon,
svg.post-lastmod-date-icon,
svg.post-categories-icon,
svg.post-tags-icon {
    position: relative;
    top: .2em;
    stroke: navy;
    width: var(--svg-size-large);
    height: var(--svg-size-large);
}

h3.post-title {
    font-size: var(--font-size-big);
    margin: 0;
    line-height: 1.6em;
}
p.post-tldr {
    margin: 1em 0;
}
a.post-read-more {
    font-size: var(--font-size-big);
}


@media screen and (max-width: 720px) {
    div.home-content {
        flex-direction: column;
    }

    div.home-sidebar {
        margin: 2em 0 1em 0;
        padding: 0;
    }

    /* Force landscape to be portrait on narrow screens */
    div.post-card.landscape {
        flex-direction: column;
    }
    div.post-card.landscape div.post-thumb-container {
        min-width: 100%;
        max-width: 100%;
        min-height: 20vh;
        max-height: 30vh;
    }

    div.post-meta {
        width: 100%;
    }
}
