div.paginator {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--paginator-font-size);
    width: 100%;
}

span.paginator-middle {
    margin: 0 1em;
}

a[class^=paginator] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* otherwise it might be narrow, making it hard to click */
    min-width: 2em;

    border: .1em solid var(--link-color);
    box-shadow: 0 0 .2em LightSlateGray !important;

    transition: 100ms linear !important;
    margin: 0 1em;
    padding: .2em .4em;
}
a.paginator-first, a.paginator-prev {
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}
a.paginator-last, a.paginator-next {
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

a[class^=paginator] > svg {
    stroke: var(--link-color);
    vertical-align: center;
    width: 1.6em;
    height: 1.6em;
}

a[class^=paginator]:hover {
    transform: translateY(-.1em);
    border-color: var(--link-active-color);
    background-color: LightSteelBlue;
    box-shadow: .1em .1em .2em LightSlateGray,
                inset 0 -.1em 0 var(--link-active-color) !important;
}
a[class^=paginator]:hover > svg {
    stroke: var(--link-active-color);
}
