:root {
    --secret-hidden-color: Black;
    --secret-reveal-color: White;
}

.secret,
.secret::selection {
    color: var(--secret-hidden-color) !important;
    background-color: var(--secret-hidden-color) !important;
    stroke: var(--secret-hidden-color) !important;
    border-color: var(--secret-hidden-color) !important;
    box-shadow: none !important;
    text-decoration: none !important;
    transition: all 0.2s linear !important;
}

.secret *:not(.secret),
.secret *:not(.secret)::selection {
    color: inherit !important;
    background-color: inherit !important;
    stroke: inherit !important;
    border-color: inherit !important;
    box-shadow: inherit !important;
    text-decoration: inherit !important;
}

.secret:hover {
    color: var(--secret-reveal-color) !important;
    stroke: var(--secret-reveal-color) !important;
}
.secret:hover *:not(.secret) {
    color: var(--secret-reveal-color) !important;
    stroke: var(--secret-reveal-color) !important;
}


/* links inside secret */
.secret a svg.external-link-icon {
    box-shadow: none !important;
}
.secret:hover a {
    box-shadow: inset 0 -0.1em 0 var(--secret-reveal-color) !important;
}

/* inline code inside secret */
.secret:hover code {
    border: 1px solid var(--secret-reveal-color) !important;
}

/* inline mathjax inside secret */
.secret:hover mjx-container * {
    color: var(--secret-reveal-color) !important;
}
