/* single command */
div.shell-cmd-wrapper {
    font-family: var(--mono-font), monospace;
    font-size: var(--font-size-normal);

    margin: 1em 0;

    border-radius: .3em;
    border: 2px solid silver;
    box-shadow: .2em .2em gray;
    background-color: whitesmoke;
}


/* prompt and command */
div.shell-cmd-container {
    display: flex;
    flex-direction: row;
    align-items: start;

    overflow: auto;
}

div.shell-cmd-container.line {
    flex-wrap: nowrap;
}
div.shell-cmd-container.block {
    flex-wrap: wrap;
}

/* ps1 with user, hostname, workdir and symbol */
div.shell-ps1-info {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: green;
    white-space: pre;
    /* padding: .4em 1ch; */
    padding: .4em 0 0 1ch;
    border-radius: .3em;
}

div.shell-ps1-symbol {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: purple;
    padding: .4em 0;
}

/* ps1 with only the symbol */
div.shell-ps1-symbol-only {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: purple;
    padding: .4em 0 .4em .4em;
}

div.shell-cmd {
    padding: .4em 1ch;
    white-space: pre;
    flex-grow: 1;
}

/* command output */
div.shell-cmd-output {
    border-top: 2px dashed silver;
    padding: .4em 1ch 1ch 1ch;
    white-space: pre;
    max-height: 80vh;
    flex-grow: 1;
    width: 100%;

    overflow: auto;
}


div.shell-cmd-container.block > div.shell-ps1-info {
    width: 100%;
}
div.shell-cmd-container.block > div.shell-ps1-symbol {
    padding-left: 1ch;
    flex-shrink: 1;
}


/* commands inside of shell */
div.shell-container {
    margin: 1em 0;
    border-radius: .3em;
    border: 2px solid silver;
    box-shadow: .2em .2em gray;
    overflow-y: auto;
    max-height: 80vh;
}
div.shell-container div.shell-cmd-wrapper {
    margin: 0;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid silver;
    box-shadow: none;
}
div.shell-container div.shell-cmd-wrapper:first-child {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
div.shell-container div.shell-cmd-wrapper:last-child {
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-bottom: none;
}
