div.table-container {
    overflow: auto;
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    border: 2px solid slategray;
    margin: 0 auto;
}

table > caption {
    font-family: var(--sans-font);
    color: dimgray;
}

th {
    font-family: var(--sans-font);
    font-weight: bold;
    background-color: whitesmoke;
    border: 2px solid lightslategray;
    padding: .4em 1em;
}

td {
    border: 1px solid darkgray;
    padding: .2em 1em;
}

th, td:not(.lntd) {
    /* word-break: keep-all; */
    white-space: pre;
}

div.table-container.center { margin: 1em 0; }
div.table-container.center table { margin: 0 auto; }

div.table-container.left:not(.float) { margin: 1em auto 1em 0; }
div.table-container.left:not(.float) table { margin: 0 auto 0 0; }

div.table-container.right:not(.float) { margin: 1em 0 1em auto; }
div.table-container.right:not(.float) table { margin: 0 0 0 auto; }

/* default floating on the left */
div.table-container.float {
    float: left;
    margin: 1em 1em 1em 0;
}
div.table-container.float.left {
    float: left;
    margin: 1em 1em 1em 0;
}
div.table-container.float.right {
    float: right;
    margin: 1em 0 1em 1em;
}


/* table caption alignment and side, default bottom side and centrally aligned */
table > caption {
    text-align: center;
    caption-side: bottom;
    margin-top: .4em;
    margin-bottom: 0;
}

table > caption.left { text-align: left; }
table > caption.center { text-align: center; }
table > caption.right { text-align: right; }

table > caption.top {
    caption-side: top;
    margin-top: 0;
    margin-bottom: .4em;
}
table > caption.bottom {
    caption-side: bottom;
    margin-top: .4em;
    margin-bottom: 0;
}
