/* single tab */
div.tab {
    margin: 1em 0;
}
div.tab-title {
    display: inline-flex;
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 1em;
    color: navy;
    cursor: default;

    border-top: .1em solid slategray;
    border-left: .1em solid slategray;
    border-right: .1em solid slategray;
    /* border-bottom: 0.15em solid royalblue; */
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    /* box-shadow: inset 0 -0.15em 0 blue; */
}
div.tab > div.tab-content {
    display: block;
    padding: 1ch;

    /* box-shadow: inset 0 0 .2em darkgray; */
    /* border: 1px solid darkgray; */
    /* border: .1em solid silver; */
    border: .1em solid lightslategray;
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;
    box-shadow: .1em .1em lightslategray;
}


/* tab panel */
div.tab-panel {
    margin: 1em 0;
}

nav.tab-nav {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

input.tab-title-radio,
input.tab-content-radio {
    appearance: none;
    display: none;
}

label.tab-title {
    color: royalblue;

    cursor: pointer;
    padding: 0 1em;

    /* transparent borders and box-shadow so that there's no small distorts when switching tabs */
    border-top: .1em solid transparent;
    border-left: .1em solid transparent;
    border-right: .1em solid transparent;

    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    white-space: nowrap;

    transition: all 150ms ease;
}
label.tab-title:hover {
    color: blue;
    box-shadow: inset 0 -0.1em 0 blue;
}
input.tab-title-radio:checked + label.tab-title {
    color: navy;
    cursor: default;

    border-top: .1em solid slategray;
    border-left: .1em solid slategray;
    border-right: .1em solid slategray;
    box-shadow: inset 0 -0.1em 0 transparent;

    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}

div.tab-content-container {
    /* border: 1px solid red; */
    display: block;
    padding: 1ch;

    /* box-shadow: inset 0 0 .25em darkgray; */
    /* border: 1px solid darkgray; */
    border: .1em solid lightslategray;
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    border-bottom-left-radius: .2em;
    box-shadow: .1em .1em lightslategray;
}

div.tab-content-container > div.tab-content {
    display: none;
}
input.tab-content-radio:checked + div.tab-content {
    display: block;
}
