:root {
    --taxo-bin-base-font-size: 1rem;
}

.bin-0 { font-size: calc(var(--taxo-bin-base-font-size) * 1.6); }
.bin-1 { font-size: calc(var(--taxo-bin-base-font-size) * 1.5); }
.bin-2 { font-size: calc(var(--taxo-bin-base-font-size) * 1.4); }
.bin-3 { font-size: calc(var(--taxo-bin-base-font-size) * 1.3); }
.bin-4 { font-size: calc(var(--taxo-bin-base-font-size) * 1.2); }
.bin-5 { font-size: calc(var(--taxo-bin-base-font-size) * 1.1); }
.bin-6 { font-size: calc(var(--taxo-bin-base-font-size) * 1.0); }
.bin-7 { font-size: calc(var(--taxo-bin-base-font-size) * 0.9); }
.bin-8 { font-size: calc(var(--taxo-bin-base-font-size) * 0.8); }
.bin-9 { font-size: calc(var(--taxo-bin-base-font-size) * 0.7); }

span.tag {
    word-break: break-all;
}
