{{ define "main" }}
<main>
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
    {{ range $terms, $taxonomy := .Site.Taxonomies.series -}}
        <details class="series">
            {{ with $.Site.GetPage (printf "/series/%s" $terms) }}
            <summary><a href="{{ .RelPermalink }}"><b>{{ .Title }}</b></a> ({{ $taxonomy.Count }})</summary>
            {{ end }}
            <ul class="post-list">
                {{- range $taxonomy.Pages.Reverse -}}
                    <li class="post-item"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></li>
                {{- end -}}
            </ul>
        </details>
    {{- end -}}
</main>
{{ end }}
