<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="{{ .Params.Author | default .Site.Params.SEO.author | chomp }}">
	<meta name="description" content="{{ .Params.Description | default .Site.Params.SEO.description | chomp }}">
	<meta name="keywords" content="{{ delimit (.Params.Keywords | default .Site.Params.SEO.keywords) `, ` }}">
	<meta name="robots" content="noimageindex">
	<title>{{ .Title | default .Site.Params.SEO.title | chomp }}</title>
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{- range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end -}}
	{{- if .Params.codeblock.highlight -}}
		<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">
	{{- end -}}
	{{- if .Params.codeblock.cursed -}}
		<script src="{{ "js/copyCodeBlock.js" | relURL }}"></script>
	{{- end -}}
	{{- if and (isset .Params "toc") .Params.toc.snake -}}
		<!-- <script src="{{ "js/snakeTOC.js" | relURL }}"></script> -->
		<script src="{{ "js/snakeTOC2.js" | relURL }}"></script>
	{{- end -}}
	{{- if .Params.tab -}}
		{{- if .Params.tab.cursed -}}
		<script src="{{ "js/switchTab.js" | relURL }}"></script>
		{{- end -}}
	{{- end -}}
	{{- if .Params.lightbox -}}
		{{- partial "lightbox.html" . -}}
	{{- end -}}
	{{- if .Params.tex -}}
		{{- partial "tex.html" . -}}
	{{- end -}}
	{{- if .Params.mermaid -}}
		{{- partial "mermaid.html" -}}
	{{- end -}}
	{{- if .HasShortcode "prism" -}}
		<link rel="stylesheet" href="{{ "css/prism.css" | relURL }}">
		<script defer
			src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-core.min.js"
			integrity="sha256-bKrTFt2ZHyT4AE4LnBnAVctYKf9l6XP77kBvltgbjn4="
			crossorigin="anonymous"
			{{/* this shit is very important */}}
			data-manual>
		</script>
		<script defer
			src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/plugins/autoloader/prism-autoloader.min.js"
			integrity="sha256-AjM0J5XIbiB590BrznLEgZGLnOQWrt62s3BEq65Q/I0="
			crossorigin="anonymous">
		</script>
		<script defer>
			document.addEventListener("DOMContentLoaded", () => {
				const containers = document.querySelectorAll("pre.prism");
				for (container of containers)
					Prism.highlightElement(container, true);
			});
		</script>
	{{- end -}}
	{{- if .Params.waline -}}
		<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css"/>
		<link rel="stylesheet" href="{{ "css/waline.css" | relURL }}">
	{{- end -}}
	{{- with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end -}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#655bd5">
	<meta name="msapplication-TileColor" content="#655bd5">
</head>
<body>
	{{- partial "header" . -}}
	{{- block "main" . -}}{{- end -}}
	{{- partial "footer" . -}}
</body>
</html>
