{{ define "main" }}
<main>
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	<div class="home-content">
		<div class="home-post-gallery">
			<div class="post-card-deck">
			{{ range $paginator.Pages }}
				{{ partial "post-card.html" . }}
			{{ end }}
			</div>
			{{ partial "pagination.html" (merge (dict "ctx" .) .Site.Params.Home.pagination) }}
		</div>
		<div class="home-sidebar">
			{{ $pages := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
			{{ $recentPages := first 5 $pages.ByLastmod.Reverse }}
			{{ if $recentPages }}
			<fieldset class="home-sidebar-item" id="recent-updates">
				<legend class="home-sidebar-item-title">Recent Updates</legend>
				<div class="home-sidebar-item-content">
					<ul>
					{{ range $recentPages }}
						<li class="post-item">
							<time>{{- .Lastmod.Format "2006-01-02" -}}</time>
							<a href="{{ .RelPermalink }}">{{- .Page.Title | markdownify -}}</a>
						</li>
					{{ end }}
					</ul>
				</div>
			</fieldset>
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
