{{ define "main" }}
<main>
	<div class="home-content">
		{{ $paginateParams := .Site.Params.Home.Pagination }}
		{{ $paginateSections := $paginateParams.sections | default .Site.Params.mainSections }}
		{{ $pages := where .Site.RegularPages "Section" "in" $paginateSections }}
		{{ $pager := .Paginate $pages $paginateParams.pagerSize }}
		<div class="home-post-gallery">
			<div class="post-card-deck">
			{{ range $pager.Pages }}
				{{ partial "post-card.html" . }}
			{{ end }}
			</div>
			{{ partial "paginator.html" (dict
				"pager" $pager
				"first" $paginateParams.first
				"prev" $paginateParams.prev
				"next" $paginateParams.next
				"last" $paginateParams.last
			) }}
		</div>
		<div class="home-sidebar">
			{{ $ctx := . }}
			{{ range sort .Site.Params.Home.Sidebar.items "weight" }}
			<fieldset class="home-sidebar-item" id="{{ .id }}">
				<legend class="home-sidebar-item-title" id="{{ .id }}-title">
					{{- .title -}}
				</legend>
				<div class="home-sidebar-item-content" id="{{ .id }}-content">
					{{ partial (printf "sidebar/%s.html" .id) (dict
						"page" $.Page
						"args" .args
					) }}
				</div>
			</fieldset>
			{{ end }}
		</div>
	</div>
</main>
{{ end }}
