{{- define "main" -}}
<main class="post">
	<aside id="sidetoc">
		{{- if .Params.toc.show -}}
		<h3 id="toc-title">{{ .Title | markdownify | safeHTML }}</h3>
		<div id="toc-hunting-land">
			{{ .TableOfContents }}
			<!-- <svg id="toc-snake" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<polyline />
			</svg> -->
			<svg id="toc-snake" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<path stroke="navy"
					stroke-width="3"
					stroke-dasharray="0, 0, 0, 1000"
					stroke-linecap="round"
					stroke-linjoin="round"
					transform="translate(-0.5, -0.5)"/>
			</svg>
		</div>
		{{- end -}}
	</aside>
	<article>
		{{- if .Params.featuredimage -}}
		<figure class="featured-image">
			{{- $link := "" -}}
			{{- $src := .Params.featuredimage.src -}}
			{{- if $src -}}
				{{- if eq .Params.type "series" -}}
					{{- $link = path.Join .Parent.RelPermalink $src -}}
				{{- else -}}
					{{- $link = (.Page.Resources.GetMatch $src).RelPermalink -}}
				{{- end -}}
			{{- end -}}
			<a href="{{ $link }}" data-fancybox="featured-image">
			<img class="featured-image" src="{{ $link }}" alt="{{ with .Params.featuredimage.title }}.{{ else }}featured-image{{ end }}"/>
			</a>
			{{- with .Params.featuredimage.title -}}
			<figcaption>{{ . | markdownify }}</figcaption>
			{{- end -}}
		</figure>
		{{- end -}}
		<div class="post-preamble">
			<h1 class="post-title"># {{ .Title | markdownify | safeHTML }}</h1>
			{{ partial "post-meta.html" (dict
				"page" .
				"metaItemTag" `span`
				"metaItemSep" `&emsp;<b>&VerticalLine;</b>&emsp;`
			)}}
			{{ partial "post-tldr.html" . }}
		</div>
		<div class="post-content">
			{{ .Content }}
		</div>
		<div class="post-epilogue">
			{{- partial "post-prext.html" . -}}
			{{- partial "post-related.html" . -}}
			{{- /* TODO: Comments? */ -}}
		</div>

		{{- if and (not .Site.BuildDrafts) .Site.Params.waline.enable -}}
			{{- if .Params.waline -}}
				<div id="waline"></div>
				<script type="module">
					import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
					init({
						el: '#waline',
						serverURL: '{{ .Site.Params.waline.serverURL }}',
						lang: '{{ .Params.waline.language | default .Site.Params.waline.language }}',
						reaction: {{ .Params.waline.reaction | default .Site.Params.waline.reaction }},
						texRender: (blockMode, tex) => window.MathJax.startup.adaptor.outerHTML(
							window.MathJax.tex2svg(tex, {
								display: blockMode,
							}),
						),
					});
				</script>
			{{- end -}}
		{{- end -}}
	</article>
	
	<!-- Jump to top/bottom buttons -->
	<div class="jump-buttons">
		<button id="jump-top" class="jump-btn jump-top" title="Jump to top">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
			</svg>
		</button>
		<button id="jump-bottom" class="jump-btn jump-bottom" title="Jump to bottom">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
			</svg>
		</button>
	</div>
	
	<!-- Jump buttons script -->
	<script src="{{ "js/jumpButtons.js" | relURL }}"></script>
</main>
{{- end -}}
