{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
{{- $related := $pages.Related . | first 5 -}}
{{- with $related -}}
<fieldset class="post-related">
    <legend class="post-related-legend">Want more? You might also be interested...</legend>
    <div class="post-related-card-scrollable">
        <div class="post-related-card-list">
            {{- range . -}}
                {{- partial "post-card.html" . -}}
            {{- end -}}
        </div>
    </div>
</fieldset>
{{- end -}}
